.newMusicLi
    border-bottom 1px solid #ddd
    margin 0 10px
    padding 6px 1px
    display block
.pylist
    h4
        background-color #eeeff0
        padding 5px 15px
        font-weight 400
    .pylist-item
        padding 4px 5px
        li
            display flex
            span 
                width 40px
                display flex
                text-align center
                align-items center
                color #666
                padding 0 10px
.pyls-fr
    flex 1 1
    border-bottom 1px solid #eee
    padding 5px 0 6px
    display flex
    .pyls-name
        flex 1 1
        width 0
        label 
            font-size 17px
            margin-bottom 5px
            display block
            span 
                font-size 17px 
                margin-left 5px
    .pyls-ico
        display flex
        padding 0 10px
        align-items center
        i 
            width 22px
            height 22px
            display block
            border 1px solid #999
            border-radius 50%
            text-align center
        :after 
            content ''
            border-left 7px solid #999
            border-top 5px solid transparent
            border-bottom 5px solid transparent
            display inline-block            
                    
.comment-item
    li
        display flex
        padding 10px 0 0
        color #333
        font-size 15px
        .img
            width 30px
            height 30px
            border-radius 50%
            overflow hidden
            margin 0 10px
        .box
            border-bottom 1px solid #eee 
            flex 1 auto
            padding 0 10px 10px 0
            width 0
            .link
                .icon-link
                    display inline-block
                    width 14px
                    height 14px
                    margin -1px 0 0 4px
            .name
                display inline-block
                margin-bottom 2px 
            .cont
                margin-top 5px
                .txt
                    border 1px solid #eee
                    padding 10px
                    margin-top 5px
                    color #888                     